@page "{id?}"
@model IndexModel

<h3>Blog!!!</h3>

    @Model.BlogVm.Content

<p></p>

(Model.BlogVm.HasPreviousBlogId ? 'disabled' : 'enabled')
@if(Model.BlogVm.HasPreviousBlogId)
{
    <a asp-page="/Blogs/Index" asp-route-id="@Model.BlogVm.PreviousBlogId"><-- Previous</a>
} 
else
{
    <span ><-- Previous</span>
}
 - 
@if(Model.BlogVm.HasNextBlogId)
{
    <a asp-page="/Blogs/Index"  asp-route-id="@Model.BlogVm.NextBlogId">Next --></a>
} 
else
{
        <span >Next --></span>
}
