@page "{id?}"
@model IndexModel
@using Westwind.AspNetCore.Markdown
<br/>
<div style="padding:25px 25px 25px 25px; 
    background-color:#FEFFFF; 
    color:#1E1E1E;
    margin:auto;
    width:999px;
    "
    class="home">
    @Markdown.ParseHtmlString(@Model.BlogVm.Content)
        </div>

    
<div style="text-align:center">
    @if(Model.BlogVm.HasPreviousBlogId)
    {
        <a asp-page="/Blogs/Index" asp-route-id="@Model.BlogVm.PreviousBlogId"><-- Previous</a>
    } 
    else
    {
        <span ><-- Previous</span>
    }
    - 
    @if(Model.BlogVm.HasNextBlogId)
    {
        <a asp-page="/Blogs/Index"  asp-route-id="@Model.BlogVm.NextBlogId">Next --></a>
    } 
    else
    {
            <span >Next --></span>
    }
</div>
