@page
@model IndexModel


<div style="padding:25px 25px 25px 25px; 
            background-color:#FEFFFF; 
            color:#1E1E1E;
            margin:15px;
            "
    class="home">
    <h1>About Me!</h1>
    <p>
        Hi!  My name is Bryan McCoy.  I'm an Application Architect for a large insurance company.
    </p>
</div>

