@page
@model IndexModel

@{
    ViewData["Title"] = "About";
}
<style>

</style>

<br>
<div style="margin:auto;
            padding:25px 25px 25px 25px; 
            background-color:#FEFFFF; 
            color:#1E1E1E;
            max-width: 999px;
            "
    class="home">
    <h3>MY BIO</h3>
    <p>
    <img  style="float:right; height: 346px;width: 293px; margin-left: 5px;" class="home" src="~/images/Bryan_McCoy_Head_Shot.png">
       Hi!  My name is Bryan McCoy.  I'm an Application Architect for a large insurance company.  I received a degree in Computer Science from Southeastern Louisiana University and attend continuing education conferences annually to keep things fresh.  I am passionate about software development of all shapes and sizes.  My prefered stack is .Net, but I am open to trying anything. I believe in using the right tool for the right job!  I am also an active member in my .Net community. and a proud member of the Baton Rouge .Net User Group’s leadership.  You should stop in and tell me hello, we would love to have you! 

    </p>
    <br>
    <h3>MY SKILLS</h3>
    <p>
        By day I work in the Microsoft stack.  I use everything from a Windows dev machine, VsCode, Visual Studios, Microsoft Sql Server, IIS, Windows Server, C#, .Net Core, etc...
       I also have a lot of experience in Angular starting with version 1.3 up to and including Angular 7.  I have also been known to do a little KnockoutJs.
    </p>
    <p>
        By night I am all over the place.  My personal projects are done with Docker, Ubuntu, Nginx, .Net Core, Reactjs, Angular, python, MySql, and much more.
        I love exploring new frameworks and libraries. 
    </p>
    <br>
    <!-- <h3>FOR FUN</h3>
        <p>
            I have a beautiful family who gets a lot of my free time.  When I'm not playing family man I spend my free time hacking away at various projects.  Most of which can be found on my <a href="http://www.github.com/bmccoy04" target="_blank"> github repository</a>.  I also frequent local User Groups, and am an active board member for the Baton Rouge <a href="https://www.brdnug.org/" target="_blank">.Net User Group</a>.
        </p>
    <br> -->
    <h3>MY SPEAKER BIO</h3>
    <p>
       "Bryan is a Software Developer whose primary focus is on the web side of development.  He has worked for the City of Baton Rouge, various consulting companies both locally and out of Chicago, and currently works for BCBSLA.  By day his focus is on Microsoft stack, but by night he love all things Linux.  He spends much of his time programing in C# and/or Javascript with frameworks such as Asp.Net Core, AngularJs, and React. 

        Bryan’s newest passion is speaking and teaching others what he has learned over his career as a developer. He’s always looking for opportunities to get in front of people and share!"

    </p>
    <br>
    <h3>HOW TO FIND ME<h3>
    <a href="https://www.github.com/bmccoy04" target="_blank">
        <i class="fa fa-github-square fa-3x"></i>
    </a>
    <a href="https://twitter.com/bmccoy04" target="_blank">
    <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
    </a>    
    <a href="https://www.linkedin.com/in/bryan-mccoy-89015464/" target="_blank">
    <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
    </a>    
    <a href="mailto:bryanmccoy04@gmail.com">
    <i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i>
    </a>
</div>

