@addTagHelper *, CoreBlogger.Site

<div class="navigation">
        <div class="navigation-name">Bryan McCoy</div>
        <div class="navigation-menu">
            <ul>
                <li>
                    <a href="/Index">
                        Home
                    </a>
                </li>
                <li>
                    <a asp-page="/Blog/Index">
                        Blog
                    </a>
                </li>
                <li>
                    <a asp-page="/Speaking/Index">
                        Speaking
                    </a>
                </li>
                <li>
                    <a asp-page="/About/Index">
                        About
                    </a>
                </li>
            </ul>
        </div>
        <div class="clear-both">
        </div>
    </div>