@page
@model IndexModel
<br>
<div style="margin:auto;
            padding:25px 25px 25px 25px; 
            background-color:#FEFFFF; 
            color:#1E1E1E;
            width: 999px;
            "
        class="home">

<h3>Speaking</h3>
<p>Use this area to provide additional information.</p>
</div>
<br>
