@page
@model IndexModel
@{
    ViewData["Title"] = "Speaking";
}
<br>
<div style="margin:auto;
            padding:25px 25px 25px 25px; 
            background-color:#FEFFFF; 
            color:#1E1E1E;
            max-width: 999px;
            "
        class="home">
<p style="float:left">
    Welcome to my speaking page.  Here you will be able to find a list of past and future speaking events.  Below you will see the topic, event, and date of each of my talks.  I am always looking for more opportunities to speak.  If you would like to have me at your event please feel free to reach out to me via social media or email.
</p>
<div style="text-align:center; float:right; margin-left: 25px;" >
    <img  style="height:329px; width:175px" class="home" src="~/images/Bryan_McCoy_Speaking_Sql_Saturday.PNG">
</div>
<h3>FUTURE EVENTS</h3>
<div>
    <a href="" target="_blank">
        No CS Degree Required
    </a>-
    <a href="https://www.activateconf.com/" target="_blank">
        Activate Conference
    </a> -
    April 6, 2019
</div>
<br />
<div>
    <a href="" target="_blank">
        Introduction to Azure DevOps
    </a>-
    <a href="" target="_blank">
        Baton Rouge .Net User Group Meeting
    </a> -
    February 13, 2019
</div>
<br />
<h3>
    PAST EVENTS
</h3>
<div>
    <a href="https://docs.google.com/presentation/d/1xOPgq8W-GoZ-HtSGTb2IiWE5IiH42cSKHvbGd4cSeMA/edit?usp=sharing" target="_blank">
        Intro to Docker for .Net Developers
    </a>-
    <a href="https://www.brdnug.org/2018/10/brdnug-meeting-october-10-2018-louisiana-technology-park/" target="_blank">
        Baton Rouge .Net User Group Meeting
    </a> -
    October 10, 2018
</div>
<br />
<div>
    <a href="https://docs.google.com/presentation/d/1gjXj0bzecW9-qM2NGw7GaQcaYK_wGkxCtxCe7pG2bFs/edit?usp=sharing" target="_blank">
        Building Component Based UIs with Asp.Net Core Razor Page
    </a>-
    <a href="https://www.brdnug.org/2018/08/brdnug-meeting-september-12-2018/" target="_blank">
        Baton Rouge .Net User Group Meeting
    </a> -
    September 12, 2018
</div>
<br />
<div>
    <a href="https://docs.google.com/presentation/d/1xOPgq8W-GoZ-HtSGTb2IiWE5IiH42cSKHvbGd4cSeMA/edit?usp=sharing" target="_blank">
        Intro to Docker for .Net Developers
    </a> -
    <a href="https://www.sqlsaturday.com/749/Sessions/Details.aspx?sid=75776" target="_blank">
        Sql Saturday Baton Rouge
    </a>
    August 11, 2018
</div>
<br />
<div>
    <a href="https://docs.google.com/presentation/d/1QX9_mjut3omYRrYpOUsasrSJcWpK0Fksh7TMwYyaKBo/edit?usp=sharing" target="_blank">
        Getting started with IdentityServer4 in .Net Core
    </a> - 
    <a href="https://www.brdnug.org/2018/03/brdnug-meeting-march-14-2018/" target="_blank">
        Baton Rouge .Net User Group Meeting
    </a> - 
    March 14, 2018
</div>
</div>
<br>
