@addTagHelper *, CoreBlogger.Site

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bryan's Blog</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- 
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment> -->
    <!-- <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment> -->
</head>
<body>
    <vc:navigation></vc:navigation>    
    <div class="content">
        @RenderBody()
        <hr />
        <footer>     
            <br>               
            <div style="text-align:center">
                <a href="https://www.github.com/bmccoy04" target="_blank">
                    <i class="fa fa-github-square fa-3x"></i>
                </a>
                <a href="https://twitter.com/bmccoy04" target="_blank">
                <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                </a>    
                <a href="https://www.linkedin.com/in/bryan-mccoy-89015464/" target="_blank">
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>    
                <a href="mailto:bryanmccoy04@gmail.com">
                <i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <div style="text-align:center">&copy; 2019 - bryanmccoy.rocks</div>
            <br>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
