@page
@model IndexModel
@using Westwind.AspNetCore.Markdown

@{
    ViewData["Title"] = "Home page";
}

<div style="width:100%; height:250px;background-color: #000D18; ">
    <h1 style="line-height:250px; margin:0; padding:0; text-align:center; color:#D3D3D3;">
        Welcome to Bryan's Tech Blog!
    </h1>
</div>
<br />
<div style="padding:25px 25px 25px 25px; 
            background-color:#FEFFFF; 
            color:#1E1E1E;
            margin:auto;
            width:999px;
            "
    class="home">
    <h1>Bryan's Blog</h1>
</div>
<br>
<div>

    @foreach(var blog in Model.Blogs)
    {
        <div style="padding:25px 25px 25px 25px; 
            background-color:#FEFFFF; 
            color:#1E1E1E;
            margin:auto;
            width:999px;
            "
            class="home">
            @Markdown.ParseHtmlString(@blog.Preview)
            <a asp-page="/Blogs/Index"  asp-route-id="@blog.DateString">Read More...</a>
        </div>
        <br>
    }

    @Model.ErrorMessage
</div>
<div>
</div>
<br />