@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="width:100%; height:250px;background-color: #283D3B; ">
    <h1 style="line-height:250px; margin:0; padding:0; text-align:center; color:#DEF2F1;">
        Awesome Home Header Image!
    </h1>
</div>
<br />
<div style="padding:25px 25px 25px 25px; 
            background-color:#FEFFFF; 
            color:#17252A;
            margin:15px;
            "
    class="home">
    <h1>Bryan's Blog</h1>
</div>
<br />