@page
@model IndexModel
@using Westwind.AspNetCore.Markdown

@{
    ViewData["Title"] = "Home page";
}

<div style="width:100%; height:250px;background-color: #000D18; text-align:center; ">
    
    <h1 style="padding-top:75px; margin:0; text-align:center; color:#D3D3D3;">
        Welcome to Bryan's Website!
    </h1>
    <br>
    <div style="text-align:center">
        <a href="https://www.github.com/bmccoy04" target="_blank">
            <i class="fa fa-github-square fa-3x"></i>
        </a>
        <a href="https://twitter.com/bmccoy04" target="_blank">
        <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
        </a>    
        <a href="https://www.linkedin.com/in/bryan-mccoy-89015464/" target="_blank">
        <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
        </a>    
        <a href="mailto:bryanmccoy04@gmail.com">
        <i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i>
        </a>
    </div>
</div>
<br />
<div style="padding:25px 25px 25px 25px; 
            background-color:#FEFFFF; 
            color:#1E1E1E;
            margin:auto;
            max-width:999px;
            "
    class="home">
    <h3>ABOUT MY WEBSITE</h3>
    <p>
        Hi there! This website is intended to act as a repository for my ideas, proof of concepts, and many general how to’s when it comes to software development.  Over the years, I have made tons of small projects to test and resolve the different issues I’ve encountered as well as exploring best practices.  Most of these projects are in my personal github repository which you can access via the icon above. I have now decided to share these with you in hopes that I can help others with the same issues or share similar ideas, and maybe even learn a thing or two myself along the way.
    </p>
    <p>
        The main purpose of this website is to take the ideas and concepts learned and implement them in a production environment. My hope is that we will use this site I have built to do that together! I will be blogging about all of these things along the way, so please feel free to get involved.  Submit a pull request or two while we work to improve the site, for as you can see it’s a bit lacking. #workinprogress  
    </p>
</div>
<br>
<div>

    @foreach(var blog in Model.Blogs)
    {
        <div style="padding:25px 25px 25px 25px; 
            background-color:#FEFFFF; 
            color:#1E1E1E;
            margin:auto;
            max-width:999px;
            "
            class="home">
            @Markdown.ParseHtmlString(@blog.Preview)
            <a asp-page="/Blogs/Index"  asp-route-id="@blog.DateString">Read More...</a>
        </div>
        <br>
    }

    @Model.ErrorMessage
</div>
<div>
</div>
<br />